<!DOCTYPE html>
<html>
<head>
    <title>Your Data Export is Ready</title>
</head>
<body>
    <p>Hi {{ user.username }},</p>
    <p>Your data export from Revel is ready to be downloaded.</p>
    <p>
        You can download your data by clicking the following link:
        <a href="{{ download_url }}">Download Your Data</a>
    </p>
    <p>This link is valid for a limited time. If you did not request this export, please ignore this email or contact support.</p>
    <p>
        Best,<br>
        The Revel Team
    </p>
</body>
</html>