{% extends "emails/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Your Data Export is Ready" %}</h2>
<p>{% blocktrans %}Hi {{ user.username }},{% endblocktrans %}</p>
<p>{% blocktrans %}Your data export from Revel is ready to be downloaded.{% endblocktrans %}</p>
<div class="card">
  <p>{% blocktrans %}You can download your data by clicking the following link:{% endblocktrans %}</p>
  <a href="{{ download_url }}" class="button">{% trans "Download Your Data" %}</a>
</div>
<p>{% blocktrans %}This link is valid for a limited time. If you did not request this export, please ignore this email or contact support.{% endblocktrans %}</p>
<p>{% blocktrans %}Best,<br>
The Revel Team{% endblocktrans %}</p>
{% endblock %}
