{% extends "emails/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Password Reset Request" %}</h2>
<p>{% blocktrans %}Please click the link below to set up a new password:{% endblocktrans %}</p>
<div class="card">
  <a href="{{ action_link }}" class="button">{% trans "Reset Password" %}</a>
</div>
<p>{% blocktrans %}If you didn't request this, you can safely ignore this email.{% endblocktrans %}</p>
<p>{% blocktrans %}Thank you,<br>The Revel Team{% endblocktrans %}</p>
{% endblock %}
