name: Docs

on:
  push:
    branches: [main]
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - .github/workflows/docs.yaml
  pull_request:
    branches: [main]
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - .github/workflows/docs.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install MkDocs
        run: pip install mkdocs-material mkdocs-minify-plugin mkdocs-redirects

      - name: Build docs
        run: mkdocs build --strict

      - name: Deploy via SCP
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          timeout: 60s
          command_timeout: 10m
          source: site/*
          target: /home/${{ secrets.SERVER_USER }}/infra/docs/
